---
const today = new Date();
---

<div>
	<footer>
		&copy; {today.getFullYear() - 1} - {today.getFullYear()} <b><a href="https://akk1to.is-a.dev" class="hrfnounderline-footer">akk1to.dev</a></b> - All Rights Reserved.<br>
		Idea inspired from <b><a href="https://blog.wharrison.com.au/" class="hrfnounderline-footer">Willlam's blog</a></b>
	</footer>
	
</div>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
